footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    margin: 0 10px; /* Adjust margin as needed */
  }

  
  .content {
    text-align: center;
    max-width: 600px;
    padding: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: Add a border radius to the image */
  }